# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
tmp/
out/

# Firebase
.firebase/
firebase-debug.log
ui-debug.log

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System files
.DS_Store
Thumbs.db

# Logs
*.log
deploy_log.txt
deploy_result.txt
