# Blokker direkte tilgang til config.php og schema.sql fra nettleseren
<Files "config.php">
    Order allow,deny
    Deny from all
</Files>

<Files "schema.sql">
    Order allow,deny
    Deny from all
</Files>
